@charset "UTF-8";

body{
    background: #D2EFFA;
}

img{
    max-width: 180px;
    max-height: 180px;
    border: 10px solid #cccccc;
    -ms-interpolation-mode: bicubic;/*IE*/
    image-rendering: optimizeQuality; /*firefox*/
}
