<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>画像置き場</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <div class="other-site">
        <a href="/">Top</a><a href="https://twitter.com/butterchickenC" target="_blank">Twitter</a><a href="https://github.com/Amakuchisan" target="_blank">GitHub</a><a href="https://cnaan.hatenablog.com" target="_blank">Blog</a><a href="pics">写真</a>
    </div>
    {% block body %}{% endblock %}
<script src="/static/js/main.js"></script>
</body>
