{% extends "layout.html" %}
{% block body %}
<!--画像投稿フォーム-->

  <input type="file" id="img_file" class="col-sm-4">
<!--  <input type="file" id="img_file" class="col-sm-4" onchange="handle(this);">-->
  <input type="submit" id="submit_btn" value="送信">

<!-- <form id="file_post" method="post" enctype="multipart/form-data">にすると投稿後画面が切り替わるので直す-->
<!-- <form method="post" action="/pics" enctype="multipart/form-data"> -->
<!--  <input type="file" id="img_file" name="img_file" class="col-sm-4">-->
<!--  <input type="button" id="submit_btn" value="送信" class="btn" onclick="submitBtn(this);">--> 
<!--</form> -->


<form name="del">
  <input type="submit" id="delete" value="削除">
</form>


<iframe name="form_response" style="display:none;" ></iframe>
<div id="alter-album"></div>

{% endblock %}
