{% extends "layout.html" %}
{% block body %}

<!--画像投稿フォーム-->
<input type="file" name="img_file" id="imgFile" class="col-sm-5">
<input type="submit" id="submitBtn" value="送信">

<!--削除ボタン-->
<input type="submit" id="delete" value="削除">
<!--キャンセル-->
<input type="submit" id="cansel" value="取り消す">
<!--スライドショー-->
<input type="submit" id="slideShow" value="スライドショー開始">

<div id="picTable" class="pic-table"></div>
<div id="picSlide" class="pic-slide"></div>
<div id="alterAlbum"></div>

<script src="/static/js/main.js"></script>
{% endblock %}
