{% extends "layout.html" %}
{% block body %}
<!--画像投稿フォーム-->
    <form method="post" action="/pics" enctype="multipart/form-data">
        <input type="file" id="img_file" name="img_file" class="col-sm-4">
        <input type="submit" value="送信" class="btn">
    </form>

<!--    <form method="delete" action="/pics" enctype="multipart/form-data">
        <input type="file" id="img_file" name="img_file" class="col-sm-4">
        <input type="submit" value="削除" class="btn">
</form> -->

    <div class="container">
        {% for picture in pictures %}
        <img src="{{ picture }}">
        {{ filename }}
        <!-- <input type="submit" value="削除" class="btn"> -->
        {% endfor %}
    </div>

    <script>
    {% if status == 'BadFileName' %}
        alert('拡張子は[png, jpg, gif]のみアップロードできます');//説明を丁寧にしたい
    {% endif %}
    {% if status == 'TooLarge' %}
        alert('1MBまでのファイルをアップロードできます');//実装してない
    {% endif %}
    {% if status == 'NoFile' %}
        alert('ファイルを選択してください');
    {% endif %}
    </script>
{% endblock %}
